<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/skeleton :: head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/fontawesome/css/font-awesome.css"
          th:href="@{/css/fontawesome/css/font-awesome.css}" rel="stylesheet"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.js"></script>
</head>
<body>

<div th:if="${success != null and success}" class="alert alert-success"
     role="alert">
    <span>The changes were successful</span>
</div>
<div class="page-header">
    <h1>Account settings</h1>
</div>

<div class="list-group">
    <a href="/edit-person" class="list-group-item" style="width: 300px">Edit personal information</a>
    <a href="/edit-user" class="list-group-item" style="width: 300px">Edit account information</a>
</div>

</body>
</html>