<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/skeleton :: head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/fontawesome/css/font-awesome.css"
          th:href="@{/css/fontawesome/css/font-awesome.css}" rel="stylesheet"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.js"></script>
</head>
<body>
<div class="page-header">
    <h1>Edit account information</h1>
</div>
<div class="container">
    <div class="row main">
        <div class="main-login main-center">
            <div th:if="${success != null and !success}" th:each="errorMessage : ${userForm.errors}"
                 th:text="${errorMessage}" class="alert alert-danger"
                 role="alert">
            </div>
            <form class="" method="post" action="#" th:object="${userForm}" th:action="@{/edit-user}">
                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">New Username</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input th:value="${username}" type="text" class="form-control" name="username" id="username"
                                   placeholder="Enter your Username"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="oldPassword" class="cols-sm-2 control-label">Old Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="oldPassword" id="oldPassword"
                                   placeholder="Enter your old Password"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="newPassword" class="cols-sm-2 control-label">new Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="newPassword" id="newPassword"
                                   oninput="checkOld(this)"
                                   placeholder="Enter your new Password"/>
                            <script language='javascript' type='text/javascript'>
                                function checkOld(input) {
                                    if (input.value == document.getElementById('oldPassword').value) {
                                        input.setCustomValidity('Password should be not the same as the old one.');
                                    } else {
                                        input.setCustomValidity('');
                                    }
                                }
                            </script>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirm" class="cols-sm-2 control-label">Confirm new Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="confirm" id="confirm"
                                   oninput="check(this)"
                                   placeholder="Confirm your new Password"/>
                            <script language='javascript' type='text/javascript'>
                                function check(input) {
                                    if (input.value != document.getElementById('newPassword').value) {
                                        input.setCustomValidity('Password Must be Matching.');
                                    } else {
                                        input.setCustomValidity('');
                                    }
                                }
                            </script>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Update</button>
                </div>

            </form>
        </div>
    </div>
</div>


</body>
</html>