<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/skeleton :: head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/fontawesome/css/font-awesome.css"
          th:href="@{/css/fontawesome/css/font-awesome.css}" rel="stylesheet"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.js"></script>
</head>
<body>
<div class="page-header">
    <h1>Edit personal information</h1>
</div>
<div class="container">
    <div class="row main">
        <div class="main-login main-center">
            <div th:if="${success != null and !success}" th:each="errorMessage : ${personForm.errors}"
                 th:text="${errorMessage}" class="alert alert-danger"
                 role="alert">
            </div>
            <form class="" method="post" action="#" th:object="${personForm}" th:action="@{/edit-person}">
                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Your first name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input th:value="${name}" type="text" class="form-control" name="name" id="name"
                                   placeholder="Enter your new Name" required="true"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastname" class="cols-sm-2 control-label">Your last name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input th:value="${lastname}" type="text" class="form-control" name="lastname" id="lastname"
                                   required="true"
                                   placeholder="Enter your new Lastname"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Your Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input th:value="${email}" type="email" class="form-control" name="email" id="email"
                                   placeholder="Enter your new Email"/>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>