<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/skeleton :: head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/css/mosh.css" rel="stylesheet"/>
    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/fontawesome/css/font-awesome.css"
          th:href="@{/css/fontawesome/css/font-awesome.css}" rel="stylesheet"/>
</head>
<body>

<div th:if="${success != null and !success}" th:text="${errorMessage}" class="alert alert-danger" role="alert">
</div>

<form class="form-horizontal col-md-6" action="#" th:action="@{authenticate}" th:object="${loginForm}"
      method="post">
    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="username" name="username" required="true"/>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" name="password" required="true"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>
<form action="/register">
    <div class="col-sm-10" style="left: 200px;top: -49px;">
        <input class="btn btn-default" type="submit" value="Register"/>
    </div>
</form>

</body>
</html>