<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/skeleton :: head">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="../static/css/bootstrap.min.css" rel="stylesheet" />
<link href="../static/css/mosh.css" rel="stylesheet" />
</head>
<body>
  <div th:replace="fragments/skeleton :: navigation">
    <div class="container">
      <nav>Navigation</nav>
    </div>
  </div>

  <div class="container product">

    <div class="row info">
      <div class="col-md-4">
        <img class="featurette-image img-responsive center-block"
          src="../static/images/rach-new_packaging-cc_by_2_0.jpg"
          th:src="@{/images/rach-new_packaging-cc_by_2_0.jpg}"
          alt="Generic placeholder image" />
        <div>
          <small class="text-muted" th:inline="text">
            [[#{general.sampleImage}]]: Rach. <span
            class="text-emphasized">New Packaging.</span> CC BY 2.0
          </small>
        </div>
      </div>
      <div class="col-md-8">
        <h2 th:text="${product.name}">Product Name</h2>
        <p class="text-info text-uppercase" th:text="${product.price}">0,00 Euro</p>
        <p class="lead" th:text="${product.description}">Description.</p>
        <div th:replace="fragments/reviews :: reviews"></div>
      </div>
    </div>

    <footer th:replace="fragments/skeleton :: footer">
      <p>&copy; 2017</p>
    </footer>

  </div>

  <script src="../static/js/jquery-3.1.1.min.js"
    th:src="@{/js/jquery-3.1.1.min.js}"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../static/js/bootstrap.min.js"
    th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>