<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/skeleton :: head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/fontawesome/css/font-awesome.css"
          th:href="@{/css/fontawesome/css/font-awesome.css}" rel="stylesheet"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <div class="row main">
        <div class="main-login main-center">
            <div th:if="${success != null and !success}" th:each="errorMessage : ${registrationForm.error}"
                 th:text="${errorMessage}" class="alert alert-danger"
                 role="alert">
            </div>
            <form class="" method="post" action="#" th:object="${registrationForm}" th:action="@{/register}">
                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Your first name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input th:value="${name}" type="text" class="form-control" name="name" id="name"
                                   placeholder="Enter your first name" required="true"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastname" class="cols-sm-2 control-label">Your last name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input th:value="${lastname}" type="text" class="form-control" name="lastname" id="lastname"
                                   required="true"
                                   placeholder="Enter your last name"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Your email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input th:value="${email}" type="email" class="form-control" name="email" id="email"
                                   required="required"
                                   placeholder="Enter your email"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">Username</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input th:value="${username}" type="text" class="form-control" name="username" id="username"
                                   required="required"
                                   placeholder="Enter your username"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" id="password"
                                   required="required"
                                   placeholder="Enter your password"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirmPassword" class="cols-sm-2 control-label">Confirm password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
                                   oninput="check(this)"
                                   required="required"
                                   placeholder="Confirm your password"/>
                            <script language='javascript' type='text/javascript'>
                                function check(input) {
                                    if (input.value != document.getElementById('password').value) {
                                        input.setCustomValidity('Password Must be Matching.');
                                    } else {
                                        input.setCustomValidity('');
                                    }
                                }
                            </script>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                </div>

            </form>
        </div>
    </div>
</div>


</body>
</html>